body {
    background-color: #576370;
    font-family: "Open Sans", sans-serif;

}
body h1{
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    padding: 40px 0;
   color:  #996633;
}
header{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    color: white;
}
.head1{
    display: inline-block;
}
.head2{
    display: inline-block;
    font-size: 36px;
    margin-left: 15px;
    font-weight: 500;
}

main {
    width: 50%;
    background: white;
    margin: auto;

}
.logo {
    width: 100%;
    height: 500px;
    background-image: url("Images/chilling-cafe-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    width: 80%;
    text-align: left;
    margin: auto;
    border-collapse:collapse ;
}
table th{
    background-color: #69717a;
    
}
table tr:nth-child(odd){
    background-color: #a6a9ac;
}
.splitems{
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.spl{
   flex:1;
   padding:10px;
   
  
}
.aboutus{
    padding: 25px;
    text-align: justify;
}
.talktous{
    padding: 25px;
    text-align: center;   
}
hr{
    width: 50%;
    margin: auto;
}
.icons{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px ;
}
.icons a{
    
    padding: 10px;
    background-color: rgb(195, 234, 195);
    margin: 3px;
    text-decoration: none;
}
footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 575.98px){

    header{
        width: 95%;
        padding: 40px 0;
    }
    .head1{
        font-size: 2rem;
    }
    .head2{
        display: inline-block;
        font-size: 30px;
    }
    main{
        width: 95%;
        margin: auto;
    }
    .logo{
        height: 350px;
        background-position: center;
    }
    table{
        width: 90%;
    }
    .splitems{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .spl{
        flex-basis: 400px;
        text-align: center;
        
        
    }
    .spl p{
        margin-top: 10px;
        font-size: 1rem;
    }
    body h1{
        width: 60%;
       
    }
    
    

   
   
}
@media (min-width:576px) and (max-width:767.98px){
    header{
        width: 90%;
        padding: 40px 0;
    }
    main{
        width: 90%;
        margin: auto;
    }
    .splitems{
        flex-direction: column;
    }
    
}
@media (min-width:768px) and (max-width:991.98px){
    header{
        width: 80%;
        padding: 40px 0;
    }
    main{
        width: 80%;
        margin: auto;
    }
}
