body {
    background-color: rgb(100, 94, 94);
    justify-content: center;
}
header{
    text-align: center;
    margin: auto;
    
}
.head1{
    display: inline-block;
}
.head2{
    display: inline-block;
}

main {
    width: 70%;
    background-color: white;
    margin: auto;

}

header img {
    width: 3%;
}
table {
    width: 90%;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}
main h1{
    text-align: center;
    padding: 20px;
    color: #996633;
}
.splitems{
    display: flex;
    margin: 2%;
}
.spl{
    flex:1;
    margin: 20px;
    text-align: center;
}
.spl p {
    margin-top: 20px;
}
.aboutus{
    margin: 20px;
}
.talktous{
    text-align: center;
}
footer{
    text-align: center;
    margin: 20px;
}
.logo img{
    width:100%;
}
table th {
    background-color: rgb(80, 78, 78);
    padding: 5px;
   
    
}
table tr:nth-child(odd) {
    background-color: rgb(189, 176, 176);

}
table tr td:nth-child(1){
    padding-left: 20px;
}
.talktous p {
    margin-bottom: 30px;
}
.talktous a{
    margin-bottom: 30px;
    padding: 12px;
    background-color: rgb(171, 212, 171);
    text-decoration: none;
}
hr {
    width: 60%;
    margin: auto;
}
@media (min-width: 350px) and (max-width: 760px){
    main{
        width: 80%;
        margin: auto;
    }
    .splitems{
        display: flex;
        flex-direction: column;
    }
    .spl{
        width: 100%;
        
    }
    header {
        padding: 50px;
    }
}